<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jx.wxhb">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainTabActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.QHBAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="134feb6b0141133aacb12579b08e3fba5b660049" />

        <activity android:name=".activity.WebViewActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />

        <!-- <receiver -->
        <!-- android:name=".service.PushRecevier" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" /> -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->
        <!-- <category android:name="com.jx.wxhb" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".activity.LuckyGroupActivity" />
        <activity android:name=".activity.PublishLuckyGroupActivity"></activity>
    </application>

</manifest>